.movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  row-gap: 10px;
}

.movie .movie-image {
  width: 450px;
  height: 300px;
}

.movie .movie-title {
  font-size: 40px;
  letter-spacing: 1.5px;
}

@media (max-width: 576px) {
  .movie .movie-image {
    width: 300px;
    height: 200px;
  }
  .movie .movie-title {
    font-size: 30px;
  }
}
