.movie_info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.movie_info .movie_info_products {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 10%;
}

.movie_info .movie_info_products .info_title {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #d4d4d4;
}

.card_img {
  border: 3px solid #f4ba01;
  margin: 10px 15px;
  background-color: #000;
  border: 3px solid #f4ba01;
  border-radius: 15px;
  padding: 5px;
}
